#wrapper{
    width: 100%;
    height:150%;
    background-color: blue;
    /* display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 30vh 20vh 700px;
    grid-template-areas: 
    "header"
    "regularOffers"
    "search"
    "offers"; */
}
#secondDiv{
    width: 100%;
    height: 100%;
    background-color: rgb(137, 39, 152);
}
#header{
    grid-area: header;
    background-color: black;
    height: 50px;
    width: 100%;
}
#regularOffers{
    grid-area: regularOffers;
    background-color: brown;
    height: 50px;
    width: 100%;
}
#search{
    grid-area: search;
    background-color: coral;
    height: 50px;
    width: 100%;
}
#offers{
    grid-area: offers;
    background-color: rgb(49, 137, 49);
    height: 50px;
    width: 100%;
}