body {
    margin: 0;
    padding: 0;
  }
#wrapper{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height:100%;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 30vh auto;
    grid-template-areas: 
    "header"
    "basicInfo"
    "rest";
}
#header{
    grid-area: header;
    background-color: aqua;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
#basicInfo{
    grid-area: basicInfo;
    /* backgrund-color: brown; */
    padding-left: 15px;
    display:grid;
    grid-template-columns: 30vh 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "picture myInfo";
}
#picture{
    grid-area: picture;
    /* background-color: blue; */
    /* padding: 15px; */
    background: url('lana.jpg') no-repeat;
    background-size: cover;
}
#myInfo{
    grid-area: myInfo;
    /* background-color: blueviolet; */
    padding: 10px;
    font-size:calc(10px + 0.8vw);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 15% 1fr;
    grid-template-areas: 
    "myUsername"
    "myName"
    "mySurname"
    "myDescription";
    
}
#myUserName{
    grid-area: myUsername;
}
#myName{
    grid-area: myName;
}
#mySurname{
    grid-area: mySurname;
}
#myDescription{
    grid-area: myDescription;
}
p{
    margin: 0;
}
button{
    margin: 0;
}
#buttonEdit{
    float: right;
    margin-right: 5px;
}
#rest{
    grid-area: rest;
}
#host{
    padding-left: 15px;
    padding-top: 20px;
}
#templateCarousel1{
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-areas: 
    "previous1 carousel1 next1";
    align-items: center;
}
#previous1{
    grid-area: previous1;
}
#carousel-containerl1{
    grid-area: carousel1;
}
#next1{
    grid-area: next1;
}
#cardForNoHostedEvents{
    margin-top: 10px;
    background-color: brown;
    padding: 15px;
    align-items: center;
    text-align: center;
    display: none;
    height: 20vw;
    width: 15vw;
    font-size:calc(10px + 0.8vw);
}


#participant{
    padding-left: 15px;
    padding-top: 20px;
}
#templateCarousel2{
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    grid-template-areas: 
    "previous2 carousel2 next2";
    align-items: center;
}
#previous2{
    grid-area: previous2;
}
#carousel-containerl2{
    grid-area: carousel2;
}
#next2{
    grid-area: next2;
}
#cardForNoHostedEvents{
    margin-top: 10px;
    background-color: brown;
    padding: 15px;
    align-items: center;
    text-align: center;
    display: none;
    height: 20vw;
    width: 15vw;
    font-size:calc(10px + 0.8vw);
}
.subtitle{
    font-size: 30px;
}
@media only screen and (max-width: 500px){
    #basicInfo{
        grid-template-columns: 20vh 1fr;
    }
    #myInfo{
        font-size:calc(8px + 0.8vw);
    }
}


